<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>agent-01</name>
  <description>Remote agent node — runs jobs for Jenkins Master</description>
  <remoteFS>/home/islah/CodeAlpha_Task/Task2-Jenkins-Remoting/jenkins-work</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>linux docker agent</label>
  <nodeProperties/>
</slave>